.filter {
    @apply flex flex-row mb-24 gap-5 flex-wrap capitalize;

    &-wrapper {
        @apply relative;
    }

    &__select-wrapper {
        @apply w-full px-6 py-3 rounded-xl relative xl:w-80 drop-shadow flex flex-row;
        background-color: $accent-bg-color;
        height: fit-content;
        border: 2px solid transparent;
        transition: background-color 0.5s ease;
        z-index: 50;


        &:hover {
            @apply cursor-pointer;
            border: 2px solid #e0e0e0;
        }

        @each $type, $color in $types {
            &.active--#{$type} {
                border: 2px solid #e0e0e0;
                background-color: $color;
            }
        }

        &:not([class*='active--all']) {
            .filter__select-expand {
                &:before, &:after{
                    background-color: $accent-bg-color;
                }
            }
            .filter__select-title {
                color: $accent-bg-color;
            }
        }
    }

    &-dropdown {
        @apply drop-shadow mt-4 h-0 flex flex-wrap gap-3 overflow-y-auto xl:absolute opacity-0 invisible xl:-left-0.5 xl:top-16 rounded-xl;
        transition: height 0.5s ease, opacity 0.5s ease;
        background-color: $accent-bg-color;

        &.active--types {
            @apply px-6 py-3 h-48 xl:h-fit xl:max-h-80 z-10;
            opacity: 1;
            visibility: visible;
        }

        &__option {
            @apply px-3 py-1 rounded-xl;
            height: fit-content;

            &:hover {
                @apply cursor-pointer;
                background-color: $primary-bg-color;
            }

            &.active--all {
                background-color: #8F9396;
                color: $accent-bg-color;
            }

            @each $type, $color in $types {
                &.active--#{$type} {
                    background-color: $color;
                    color: $accent-bg-color;
                }
            }
        }
    }

    &__select-expand {
        @apply relative w-4 h-4 self-center ml-auto;
    
        &:before,
        &:after{
            @apply absolute;
            content: "";
            background-color: $primary-text-color;
            transition: transform 0.25s ease-out;
        }
    
        /* Vertical line */
        &:before{
            top: 0;
            left: 50%;
            width: 4px;
            height: 100%;
            margin-left: -2px;
        }
    
        /* horizontal line */
        &:after{
            top: 50%;
            left: 0;
            width: 100%;
            height: 4px;
            margin-top: -2px;
        }

        &.active {
            &:before{ transform: rotate(90deg); }
            &:after{ transform: rotate(180deg); }
        }
    }

    &__select-reset {
        @apply px-6 py-3 rounded-xl cursor-pointer;
        color: $accent-bg-color;
        background-color: #8F9396;
        height: fit-content;
    }
}