.navbar {
    @apply flex items-center justify-between flex-wrap px-6 py-9 w-full overflow-hidden drop-shadow;
    background-color: $accent-bg-color;

    &__logo {
        @apply flex items-center flex-shrink-0 mr-6;

        span {
            @apply font-semibold text-xl tracking-tight uppercase;
            color: $red-color;
        }
    }

    &__expand {
        @apply block lg:hidden;

        button {
            @apply flex items-center px-3 py-2 border rounded;
        }
    }

    &__menu {
        @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto lg:ml-9 hidden;

        &.active {
            @apply block lg:flex;
        }

        &-wrapper {
            @apply text-sm lg:flex-grow;

            a {
                @apply block mt-4 lg:inline-block lg:mt-0 lg:mr-4 lg:px-9 relative lg:text-center font-bold lg:text-lg relative;
                color: $accent-text-color;

                @screen lg {
                    text-decoration: none !important;
                    &::after {
                        @apply h-3 w-full absolute;
                        transition: 0.5s ease-in background-color;
                        background-color: transparent;
                        left: 0;
                        bottom: -42px;
                        content: "";
                    }
                }

                &.active, &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: $red-color;
                    text-decoration-thickness: 3px;

                    @screen lg {
                        &::after {
                            background-color: $red-color;
                        }
                    }
                }
            }
        }
    }

    &__right {
        a {
            @apply inline-block text-sm px-4 py-2 leading-none border rounded mt-4 lg:mt-0;
        }
    }
}