


.pokemon-cards {
    @apply grid grid-cols-2 gap-x-1 gap-y-3 md:grid-cols-3 lg:grid-cols-6 lg:gap-3 mt-32;
    .pokemon-card {
        @apply flex flex-col relative shadow-md;
        
        &__hero {
            @apply flex content-center justify-center h-24 mb-10;
            border-bottom-left-radius: 100% 40%;
            border-bottom-right-radius: 100% 40%;
        }
        &__id {
            @apply font-semibold text-center;
            color: $accent-text-color;
        }
        &__name {
            @apply text-xl text-center capitalize font-semibold;
        }
        &__type {
            @apply text-xs text-center cursor-pointer;
            text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
            transition: opacity 1s;
    
            &:hover {
              opacity: 0.5;
            }
        }
    }
    
}

