.search-bar {
    @apply my-6 w-full rounded-xl overflow-hidden drop-shadow;

    &__container {
        @apply flex flex-row px-6 py-3 ;
        background-color: $accent-bg-color;
    }
    &__button {
        @apply p-3 rounded-xl;
        background-color: $red-color;
        color: $accent-bg-color;
    }

    &__input {
        @apply w-full focus:outline-none;
    }
}